.container {
  padding: 30px;
}

.delete {
  color: #333;
  display: inline-block;
}

li {
  list-style: none;
  padding: 5px;
  word-spacing: 20px;
}

span {
  font-weight: bold;
}

label {
  padding: 20px;
}